* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2e30;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aliceblue; */
  height: 70vh;
  width: 70vh;
}

img {
  height: 50vh;
  width: 50vh;
}

button {
  padding: 20px 80px 20px 80px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20%;
  border-radius: 5%;
}
